.App {
  padding: 20px;
}
.guide-btn {
  margin-bottom: 15px;
}
/* tile uploaded pictures */
.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px;
}

.upload-list-inline [class*='-upload-list-rtl'] .ant-upload-list-item {
  float: right;
}

.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}
